.month-grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
}

.month-item {
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}