.year-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.year-item {
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}